html {
    text-size-adjust: none;
	font-size: 16px;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: $white;
	@include opensans-regular();
	font-size: 0.875rem;
	line-height: 1.44;
	color: $color-text;
	letter-spacing: -0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1, .title,
h2, .title-l,
h3, .title-m,
h4, .title-s,
h5, .title-xs,
h6 {
	font-weight: normal;
}

h1, .title {
	@include opensans-semibold();
	font-size: 28px;

	@include media('>=tablet') {
		font-size: 32px;
	}

	// TODO: desktop
}

h2, .title-l {
	@include opensans-semibold();
	font-size: 22px;

	@include media('>=tablet') {
		font-size: 24px;
	}

	// TODO: desktop
}

h3, .title-m {
	@include opensans-semibold();
	font-size: 20px;

	@include media('>=tablet') {
		font-size: 22px;
	}
}

h4 {
	font-size: 18px;

	@include media('>=tablet') {
		font-size: 20px;
	}
}

h5, .title-xs {
	font-size: 16px;
    @include opensans-semibold();

	@include media('>=tablet') {
		font-size: 17px;
	}
}

h6 {
	font-size: 14px;

	@include media('>=tablet') {
		font-size: 16px;
	}
}

.title-border {
	color: $color-secondary;
	font-size: 1.5rem;
	padding: 0 0 0.5em;
	margin: 0;
	border-bottom: 1px solid $color-secondary;
}

.title-tiny {
	font-size: 0.6875rem;
}

.title-link {
	color: $color-secondary;
}

ul, ol {
	padding-left: 0;
}

p {
	margin: 0;
	font-size: inherit;
	line-height: inherit;
}

img {
	max-width: 100%;
	border: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: $color-text-link;
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

:focus {
	outline: 0;
}

strong, b {
	@include opensans-bold();
}

.underline {
	text-decoration: underline;
}

.pence {
	font-size: 0.58em;
}

.center {
	text-align: center;
}

.small-text {
	font-size: 11px;
}

/* Legacy header and footer heading styles */
/* /.heading-alternate {
    @include helvetica-med-light();
    font-weight: normal;
    &--cb {
        font-size: 15px;
        @include montserrat-regular();
    }
}

.heading--availability {
    @include helvetica-neue();
    font-weight: normal;
} */
