@font-face {
	font-family: 'helvetica-neue-lt-std';
	src: url('HelveticaNeueLTStd-Roman.eot');
	src: url('HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueLTStd-Roman.woff2') format('woff2'),
	url('HelveticaNeueLTStd-Roman.woff') format('woff');
	font-weight: normal;
	font-style: normal;;
}

@font-face {
	font-family: 'helvetica-neue-bold';
	src: url('HelveticaNeue-Bold.eot');
	src: url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeue-Bold.woff2') format('woff2'),
	url('HelveticaNeue-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;;
}

@font-face {
	font-family: 'helvetica-neue-medium';
	src: url('HelveticaNeue-Medium.eot');
	src: url('HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeue-Medium.woff2') format('woff2'),
	url('HelveticaNeue-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;;
}

@font-face {
	font-family: 'helvetica-med-light';
	src: url("helvetica-med-light.eot");
	src: url("helvetica-med-light.eot?#iefix") format("embedded-opentype"),
         url("helvetica-med-light.woff") format("woff"),
         url("helvetica-med-light.ttf") format("truetype"),
         url("helvetica-med-light.svg#helvetica-med-light") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica-neue-light';
	src: url("helveticaneuelight.eot");
	src: url("helveticaneuelight.eot?#iefix") format("embedded-opentype"),
         url("helveticaneuelight.woff") format("woff"),
         url("helveticaneuelight.ttf") format("truetype"),
         url("helveticaneuelight.svg#helveticaneuelight") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-regular';
	src: url("Montserrat-Regular.eot");
	src: url("Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
         url("Montserrat-Regular.woff") format("woff"),
         url("Montserrat-Regular.ttf") format("truetype"),
         url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-light';

	src: url("montserrat-light.woff") format("woff"),
         url("montserrat-light.woff2") format("woff2"),
         url("montserrat-light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pt-sans';
	src: url("PT-Sans.eot");
	src: url("PT-Sans.eot?#iefix") format("embedded-opentype"),
         url("PT-Sans.woff") format("woff"),
         url("PT-Sans.ttf") format("truetype"),
         url("PT-Sans.svg#PT-Sans") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'franklin-gothic-hvyit';
	src: url("FranklinGothic-HvyIt-webfont.eot");
	src: url("FranklinGothic-HvyIt-webfont.eot?#iefix") format("embedded-opentype"),
         url("FranklinGothic-HvyIt-webfont.woff") format("woff"),
         url("FranklinGothic-HvyIt-webfont.ttf") format("truetype"),
         url("FranklinGothic-HvyIt-webfont.svg#FranklinGothic-HvyIt-webfont") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'franklin-gothic-med-it';
	src: url("FranklinGothic-MedIt-webfont.eot");
	src: url("FranklinGothic-MedIt-webfont.eot?#iefix") format("embedded-opentype"),
         url("FranklinGothic-MedIt-webfont.woff") format("woff"),
         url("FranklinGothic-MedIt-webfont.ttf") format("truetype"),
         url("FranklinGothic-MedIt-webfont.svg#FranklinGothic-MedIt-webfont") format("svg");
	font-weight: normal;
	font-style: normal;
}
